<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Shelter</title>
</head>
<body>
  <header> <h1> Animal Shelter </h1></header>
  <h2> Add an Animal</h2>
  <hr>

  <form>
    <input type="text" name="firstname" placeholder="Breed">

    <input type="text" name="lastname" placeholder="Family">

    <input type="text" name="lastname" placeholder="Name">

    <input type="text" name="lastname" placeholder="Gender(M F)">

    <input type="text" name="lastname" placeholder="dd/mm/yyyy">
  <br><br>
  <input type="submit" value="Add an animal">
</form>

<ul>
  <li> Name </li>
  <ul>
    <li> Breed: </li>
    <li> DOB: </li>
    <li> Gender: </li>
    <li> Family: </li>
  </ul>
</ul>

<% animals.forEach(function(animals){ %>
  <%= animals.name %>
<% }) %>
</body>
</html>
